@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato"), url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: local("Lato"), url("./fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  src: local("Lato"), url("./fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  src: local("Lato"), url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Korataki";
  font-weight: 400;
  src: local("Korataki"), url("./fonts/korataki.otf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter"), url("./fonts/Inter-Regular.ttf");
}
